<ul id="lists">
  <% @lists.each.with_index do |list, idx| %>
    <li <%= list_completed?(list)%>>
      <a href="/lists/<%= idx %>">
        <h2><%= list[:name] %></h2>
        <p><%= "#{incomplete_count(list[:todos])} / #{list[:todos].size}" %></p>
      </a>
    </li> 
  <% end %>
</ul>

  <% content_for :header_links do %>
   <a href="/lists/new" class="add">Add new list</a>
  <% end %>

  <% content_for :header_links do%>
   <a href="/logout"class="delete"> Clear lists </a> 
  <% end %> 